body{
    background-color: black;
    margin: 0px auto;
}

div{
    height: 1000px;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#div1{
    background-image: url("http://porschevolution.com/images/slides/1930.jpg");
}
#div2{
    background-image: url("http://porschevolution.com/images/slides/1940.jpg");
}
#div3{
    background-image: url("http://porschevolution.com/images/slides/1950.jpg");
}
#div4{
    background-image: url("http://porschevolution.com/images/slides/1960.jpg");
}
#div5{
    background-image: url("http://porschevolution.com/images/slides/1970.jpg");
}
#div6{
    background-image: url("http://porschevolution.com/images/slides/1980.jpg");
}
#div7{
    background-image: url("http://porschevolution.com/images/slides/1990.jpg");
}
#div8{
    background-image: url("http://porschevolution.com/images/slides/2000.jpg");
}
#div9{
    background-image: url("http://porschevolution.com/images/slides/2010.jpg");
}
#div10{
    background-image: url("http://porschevolution.com/images/slides/2020.jpg");
}